html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Sue Ellen Francisco, 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f5ac77;
    color: white;
}

.title {
    font-size: 4rem;
    font-weight: 700;
}