html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Sue Ellen Francisco, 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
}