/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9998;
  background: darken($secondary, 1);

  .copyright {
    text-align: center;

    span {
      font-family: $font-hartwerk;
    }
  }

  .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #eaebf0;
  }

  @media (max-width: 1199px) {
    position: static;
    width: auto;
    height: 70px;
    padding: 24px;
  }
}

